<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springcloud.study.system.dao.oauth.OAuth2AccessTokenMapper">

    <resultMap id="BaseResultMap"
               type="com.springcloud.study.system.entity.oauth.OAuth2AccessToken">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="refresh_token" property="refreshToken"/>
        <result column="expires_time" property="expiresTime"/>
        <result column="create_operator" property="createOperator"/>
        <result column="modified_operator" property="modifiedOperator"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="modified_operator_ip" property="modifiedOperatorIp"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <sql id="Base_Column_List">
                id,
                user_id,
                refresh_token,
                expires_time,
                create_operator,
                modified_operator,
                gmt_create,
                gmt_modified,
                modified_operator_ip,
                deleted
    </sql>


    <delete id="deleteByRefreshToken">
        delete from
        oauth2_access_token
        where
        refresh_token=#{refreshToken}
    </delete>
    <delete id="deleteByUserId">
        delete from
        oauth2_access_token
        where
        user_id=#{userId}
    </delete>


</mapper>