<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.training.cloud.system.dao.user.SysUserMapper">
    <resultMap id="BaseResultMap"
               type="org.training.cloud.system.entity.user.SysUser">
        <result column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="telephone" property="telephone"/>
        <result column="mail" property="mail"/>
        <result column="password" property="password"/>
        <result column="dept_id" property="deptId"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
        <result column="create_operator" property="createOperator"/>
        <result column="modified_operator" property="modifiedOperator"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="user_type" property="userType"/>
    </resultMap>

    <sql id="Base_Column_List">
                id,
                username,
                telephone,
                mail,
                password,
                dept_id,
                status,
                remark,
                create_operator,
                modified_operator,
                gmt_create,
                user_type,
                gmt_modified
    </sql>

    <select id="querySysByUserName"
            resultType="org.training.cloud.system.entity.user.SysUser">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        where username=#{userName}
    </select>

    <select id="countByMail" resultType="java.lang.Integer">
        select
        count(1)
        from sys_user
        where
        mail=#{mail}
        <if test="id != null">
            and id=#{id}
        </if>
    </select>

    <select id="countByTelephone" resultType="java.lang.Integer">
        select
        count(1)
        from sys_user
        where
        telephone=#{telephone}
        <if test="id != null">
            and id=#{id}
        </if>
    </select>

    <select id="queryPageByDeptId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        where 1=1
        <if test="deptId !=null">
            and dept_id=#{deptId}
        </if>
        limit #{pageParam.offset}, #{pageParam.pageSize}
    </select>

    <select id="countByDeptId" resultType="java.lang.Long">
        select
        count(1)
        from sys_user
        where 1=1
        <if test="deptId !=null">
            and dept_id=#{deptId}
        </if>
    </select>
</mapper>
